@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,600;1,500&display=swap');

body, .app{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color:#F3F5F7; */
}

.main-content {
  margin-left: 70px;
}

/* Media query for mobile view */
@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
    padding: 0;
  }

  .toastBody{
    width: 100%;
  }
  }

